<div class="tab @@active" id="tab-korpus-@@korpus-etazh-@@etazh-content">

    <div class="etazh__info row">
        <div class="etazh__info-item col-lg-3">
            <div class="etazh__info-name h5">
                Комплекс потребительских товаров и услуг
            </div>
        </div>
        <div class="etazh__info-item col-lg-8">
            <ul>
                <li>
                    <div class="h5">Площадь</div>
                    <p>1750 кв.м</p>
                </li>
                <li>
                    <div class="h5">Площадь</div>
                    <p>1750 кв.м</p>
                </li>
            </ul>

        </div>
    </div>

    <div class="etazh__img">
        <!--img src="@img/map/korpus@@korpus/etazh@@etazh.svg" alt="" class="img-fluid"-->

        @@include('../../img/map/korpus@@korpus/etazh@@etazh.svg')

    </div>

    <div class="etazh__symbols">
        <div class="row">
            <div class="etazh__symbols-item col-lg-3">
                <div class="icon" style="background-color:#A79CCC"></div>
                Торговые секции
            </div>
            <div class="etazh__symbols-item col-lg-4">
                <div class="icon" style="background-color:#DBCF70"></div>
                Детская игровая площадка
            </div>
            <div class="etazh__symbols-item col-lg-4">
                <div class="icon" style="background-color:#94A6B0"></div>
                Технические помещения
            </div>
        </div>

        <div class="row">
            <div class="etazh__symbols-item col-lg-3">
                <div class="icon" style="background-color:#738FC8"></div>
                Подсобные помещения
            </div>
            <div class="etazh__symbols-item col-lg-4">
                <div class="icon" style="background-color:#B7C8BA"></div>
                Санузлы
            </div>
            <div class="etazh__symbols-item col-lg-4">
                <div class="icon" style="background-color:#EDDBB7"></div>
                Кафе быстрого питания
            </div>
        </div>

        <div class="row">
            <div class="etazh__symbols-item col-lg-3">
                <div class="icon" style="background-color:#B6CBD7"></div>
                Офисы
            </div>
            <div class="etazh__symbols-item col-lg-4">
                <div class="icon" style="background-color:#ECECEC"></div>
                Проходы, рекреации, лестницы
            </div>
        </div>
    </div>

</div>

<!--
@@if (rooms.length > 0) {
    @@for (var j = 0; j < rooms.length; j++) {
        @@include('modal-korpus-etazh-room.html', {
            "name": "test",
            "code": "korpus@@korpus_etazh@@etazh_room14",
            "square": "`+rooms[j].square+`",
            "electro": "`+rooms[j].electro+`",
            "other": "`+rooms[j].other+`",
            "naznachenie": "`+rooms[j].naznachenie+`",
            "tel": "`+rooms[j].tel+`"
        })
    }
}
-->


