<div class="modal korpus-modal" id="modal-@@korpusPath">
    <div class="modal-overlay"></div>

    <div class="modal-window">
        <div class="modal-content">

            <div class="btn btn-simple modal-close">
                <img src="@img/icons/close.svg" alt="">
            </div>


            <div class="modal__title">
                <div class="h2">Корпус @@korpusName</div>
            </div>

            <div class="modal__inner">
                <div class="korpus-modal__info row">
                    <div class="korpus-modal__info-item col-lg-3">
                        <div class="h5">Площадь помещений</div>
                        <p>от 20 кв.м до 3000 кв.м</p>
                    </div>
                    <div class="korpus-modal__info-item col-lg-8">
                        <div class="h5">Для удобства арендаторов и посетителей</div>
                        <ul class="columns-2">
                            <li>2 современных лифта</li>
                            <li>2 санузла на каждом этаже + санузлы для маломобильной группы населения</li>
                            <li>кафе быстрого питания</li>
                            <li>банкоматы</li>
                            <li>детская игровая площадка</li>
                        </ul>
                    </div>
                </div>

                @@if (etazhi.length > 0) {
                <div class="korpus-modal__tabs tabs">

                    <div class="tab-list">
                        @@for (var i = 0; i < etazhi.length; i++) {
                            <div class="tab-list-item `+etazhi[i].active+`" id="tab-korpus-@@korpus-etazh-`+etazhi[i].etazh+`">
                                `+etazhi[i].etazh+` этаж
                            </div>
                        }
                    </div>

                    <div class="tab-content">

                        @@for (var i = 0; i < etazhi.length; i++) {
                            @@include('modal-korpus-etazh.html', {
                                "active": "`+etazhi[i].active+`",
                                "etazh": "`+etazhi[i].etazh+`",
                                "korpus": "@@korpus",
                                "rooms": "@@rooms"
                            })
                        }
                    </div>

                </div>
                }

            </div>


        </div>
    </div>

</div>